@import url("https://fonts.googleapis.com/css?family=Lobster");

.Login, .Enroll {
    position: relative;
    height: 100%;
    background-color: #ebecf0;
}

.Login p, .Enroll p {
    font-family: "Lobster";
    font-size: 2rem;
}

.Login .title, .Enroll .title {
    color: #babecc;
    font-family: "Lobster";
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

.Login .EnrollForm, .Login .LoginForm, .Enroll .EnrollForm, .Enroll .LoginForm {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Login .EnrollForm button,
.Login .EnrollForm ::v-deep(.el-input__wrapper), .Login .LoginForm button,
.Login .LoginForm ::v-deep(.el-input__wrapper), .Enroll .EnrollForm button,
.Enroll .EnrollForm ::v-deep(.el-input__wrapper), .Enroll .LoginForm button,
.Enroll .LoginForm ::v-deep(.el-input__wrapper) {
    margin: 10px;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #ebecf0;
    text-shadow: 1px 1px 0 #fff;
}

.Login .EnrollForm ::v-deep(.el-input__wrapper), .Login .LoginForm ::v-deep(.el-input__wrapper), .Enroll .EnrollForm ::v-deep(.el-input__wrapper), .Enroll .LoginForm ::v-deep(.el-input__wrapper) {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
}

.Login .EnrollForm ::v-deep(.el-input__wrapper):hover, .Login .LoginForm ::v-deep(.el-input__wrapper):hover, .Enroll .EnrollForm ::v-deep(.el-input__wrapper):hover, .Enroll .LoginForm ::v-deep(.el-input__wrapper):hover {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.Login .EnrollForm button, .Login .LoginForm button, .Enroll .EnrollForm button, .Enroll .LoginForm button {
    color: #61677c;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    display: block;
    width: 50%;
    height: 64px;
    margin: auto;
    line-height: 16px;
    color: #ae1100;
}

.Login .EnrollForm button:hover, .Login .LoginForm button:hover, .Enroll .EnrollForm button:hover, .Enroll .LoginForm button:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.Login .EnrollForm button:active, .Login .LoginForm button:active, .Enroll .EnrollForm button:active, .Enroll .LoginForm button:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
